.header{
  background-color: #ffffff;
  border: 2px solid red;
  height: 48px;
}
header a img{
  width: auto;
  height: 48px;
}
body{
  margin: 0;
}
ul{
  list-style-type: none;
}
.logo{
  display: inline-block;
  margin: 0px;
}
.main-image-section{
  width: 876px;
  margin: auto;
  position: relative;
}
.search-bar{
  float: right;
  margin:5px;
}
.main-image{
  width: 876px;
}
.main-background{
  background-color: #efefef;

}
.over-image-text{
  width: 460px;
  height: 165px;
  background: rgba(239,239,239,0.7);
  position: absolute;
  bottom: 36px;
  left: 20px;
}
.mosaico{
  display: inline-block;
  width: 278px;
  height: 297px;
  margin-left: 5px;
  margin-right: 5px;
}
.mosaico-container{
  width:876px;
  margin: auto;
}
figure{
  display: inherit;
}
.mosaico-image{
  width: 277px;
  height: 187px;

}
.nav-header-bar{
  font-size: 24px;
  display:inline-block;
  /* float: right; */
}
.nav-header-bar li,.nav-footer-bar li{
  display: inline-block;
  margin-left: 10px;
}

.nav-header-bar ul li a, .nav-footer-bar ul li a{
  text-decoration: none;
}
.nav-footer-bar{
  width: 512px;
  margin: auto;
}
